---
layout: page
title: "About"
description: "一直在被产品、测试虐的一条狗"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select>
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh">
    <blockquote>
        签证画押，不然不开发。
    </blockquote>
    <p>
      建设中……
    </p>
    <p>
      {{ site.author }}
    </p>
<!-- =======

    <p>大学生，就读于中国传媒大学数字媒体艺术专业 12 级，准大四。学的东西杂七杂八，技术艺术交叉，也当过<a href="http://www.cucxsh.cn/" target="_blank">学生会</a>部长，负责些小互联网产品</p>

    <p>程序员，<a href="http://m.wepiao.com/index.html">微信电影票</a>前端工程师。曾在淘宝旅行（<a href="http://alitrip.com" target="_blank">阿里旅行·去啊</a>）前端团队实习一年载，主攻 JavaScript 全栈，也玩玩其他语言，希望成为一名<a href="http://www.zhihu.com/question/19589966/answer/12550259">产品工程师</a></p>

    <p>设计师，UI/UX Designer，迷恋 OSX/iOS & Android & Windows，擅长 Layout/Typographic 与动效设计（Motion Graphic），大一在
    <a href="http://weibo.com/lxustudio" target="_blank">LxU 工作室</a> 实习动画师，大二在阿里做了很短一段时间交互 </p>

    <p>产品狗，热衷于 Web & Mobile 产品，<a href="http://www.zhihu.com/people/huxpro">知乎</a>用户。手机收藏癖，轻微<a href="/tags/#职业病">职业病</a>，没事想想用户痛点、行业趋势、商业模式，无论身处什么职位都很在乎产品本身</p>

    <p>人类，唱唱通俗跳跳 HipHop ，也爱好打球游泳、摄影<del>把妹</del>，没事泡泡社交网络，刷刷微博知乎</p>

    <p>哦对了，我叫<b>黄玄</b>

    <hr>
    附上认真版的简历:
    <ul class="active-list">
        <li><a href="{{site.baseUrl}}/attach/2016_Hux_DEV_en.pdf"> 2016_Hux_DEV_en </a></li>
        <li><a href="{{site.baseUrl}}/attach/2016_Hux_PD_en.pdf"> 2016_Hux_PD_en </a></li>
        <li><a href="{{site.baseUrl}}/attach/2015_Hux_SDE_cn.pdf"> 2015_Hux_SDE_cn </a></li>
        <li><a href="{{site.baseUrl}}/attach/2015_Hux_UX & PD_cn.pdf"> 2015_Hux_UX & PD_cn </a></li>
        <li><a href="{{site.baseUrl}}/attach/2015_Hux_UX & PD_en.pdf"> 2015_Hux_UX & PD_en </a></li>
    </ul>

    一些期待成为的角色:
    <ul>
        <li> UX Unicorn </li>
        <li> Product Engineer </li>
        <li> Creative Technologist </li>
        <li> End to End JavaScript Engineer</li>
        <li> "Full Stack" Engineer/Designer </li>
    </ul>
</div>

<!-- English Version -->
<!-- <div class="en">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>Student, major in New Media Art of <a href="https://en.wikipedia.org/wiki/Communication_University_of_China">Communication University of China</a>, which is a interdisciplinary subject of technology and art, and now Senior.</p>

    <p>Programmer, JavaScript Engineer Intern of <a href="http://m.wepiao.com/index.html">Wechat Movie</a>, previous worked in <a href="http://alitrip.com" target="_blank">Alibaba Trip</a> as Front End Engineer for one year, looking for opportunities abroad.</p>

    <p>Designer, offered as UI/UX Designer Intern by Alibaba Group, Microsoft Bing etc. Experienced in Motion Graphic Design, also familer with Layout and Typography.</p>

    <p>Product Design and Program Management is also attractive and comfortable to me.</p>

    <p>My Chinese name is <b>Huang Xuan</b>, you can call me English name <b>Hux</b> for short.</p>

    <hr>
    Interested in more details? Just checkout my resumes:
    <ul class="active-list">
        <li><a href="{{site.baseUrl}}/attach/2016_Hux_DEV_en.pdf"> 2016_Hux_DEV_en </a></li>
        <li><a href="{{site.baseUrl}}/attach/2016_Hux_PD_en.pdf"> 2016_Hux_PD_en </a></li>
        <li><a href="{{site.baseUrl}}/attach/2015_Hux_UX & PD_en.pdf"> 2015_Hux_UX & PD_en </a></li>
    </ul>

    My dream position include:
    <ul>
        <li> UX Unicorn </li>
        <li> Product Engineer </li>
        <li> Creative Technologist </li>
        <li> End to End JavaScript Engineer</li>
        <li> "Full Stack" Engineer/Designer </li>
    </ul>
>>>>>>> Huxpro/master --> -->
</div>
