---
layout: page
title: "Categories"
description: "分类"
header-img: "img/post-bg-2015.jpg"
---

{% for categroy in site.categories %}
<div class="one-archive-list">
  <div>
    <h2>📁{{ categroy[0] }}</h2>
  </div>
    {% for post in categroy[1] %}
      <li>
        <div class="post-preview">
              <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </div>
      </li>
    {% endfor %}
  <hr>
</div>
{% endfor %}
