<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">Home</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}{{ site.archive_path }}">Archive</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}{{ site.tags_path }}">Tags</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}{{ site.categories_path }}">Categories</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}{{ site.about_path }}">About</a>
                </li>
                <!-- <li>
                  <a href="{{ site.baseurl }}{{ site.portfolio_path }}">Portfolio</a>
                </li> -->
                <!-- {% for page in site.pages %}{% if page.title %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %}{% endfor %} -->

                <!-- Hux customized -->


                <!-- Hux end -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
